html {
  /* This defines what 1rem is: 1rem = 10px = (16px * 0.625) */
  font-size: 62.5%;
}

body {
  color: $color-dark-grey;
  font-family: Roboto, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
