.btn {
  display: inline-block;
  padding: 1.3rem 2rem;
  background-color: $color-blue;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;

  &--orange {
    background-color: $color-orange;
  }

  &--large {
    padding: 1.6rem 3rem;
    font-size: 2rem;
  }
}
