/* stylelint-disable at-rule-no-unknown */

.large-hero {
  position: relative;
  border-bottom: 10px solid $color-blue;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }

  &__title {
    margin: 0;
    color: $color-blue;
    font-size: 3rem;
    font-weight: 300;

    @mixin atSmall {
      font-size: 4.6rem; /* multiplier 1.5(3) */
    }

    @mixin atMedium {
      font-size: 7.8rem; /* multiplier 2.6 */
    }
  }

  &__subtitle {
    margin: 0;
    color: $color-blue;
    font-size: 1.8rem;
    font-weight: 300;

    @mixin atSmall {
      font-size: 2.76rem;
    }

    @mixin atMedium {
      font-size: 4.7rem;
    }
  }

  &__description {
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    color: $color-very-light-orange;
    font-size: 1.3rem;
    font-weight: 300;
    text-shadow: 1px 2px 0 rgb(0 0 0 / 10%);

    @mixin atSmall {
      max-width: 30rem;
      font-size: 2rem;
    }

    @mixin atMedium {
      max-width: 45rem;
      font-size: 3rem;
    }
  }
}
