.large-hero {
  position: relative;

  @mixin adapt {
    border-bottom: 1rem solid $color-blue;
  }

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }

  &__title {
    margin: 0;
    color: $color-blue;
    font-weight: 300;

    @mixin adapt {
      font-size: 7.8rem;
    }
  }

  &__subtitle {
    margin: 0;
    color: $color-blue;
    font-weight: 300;

    @mixin adapt {
      font-size: 4.7rem;
    }
  }

  &__description {
    max-width: 15em;
    color: $color-very-light-orange;
    font-weight: 300;
    text-shadow: 1px 2px 0 rgb(0 0 0 / 10%);

    @mixin horizontal-centering;

    @mixin adapt {
      font-size: 3rem;
    }
  }
}
