.wrapper {
  max-width: 1200px;
  padding-right: 1.6rem;
  padding-left: 1.6rem;

  @mixin horizontal-centering;

  @mixin at-extra-large {
    padding-right: 0;
    padding-left: 0;
  }

  &--centered {
    text-align: center;
  }

  .wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}
